<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sophia Venturo Designs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/base.css" type="txt/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fredericka+the+Great&family=Poiret+One&display=swap"
        rel="stylesheet">
    <style>
        #header,
        #nav {
            margin: 0 auto;
            text-align: center;

        }

        #header {
            padding: 50px, 0;
            line-height: 100px;
            height: 100px;
            text-align: center;
            font-size: 40px;
            font-family: 'Fredericka the Great';
        }

        .btn {
            font-size: 30px;
            font-family: 'Cutive Mono';
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="header">
            Sophia Venturo interior designs

        </div>
        <nav id="nav">
            <a class="btn badge-pill" href="/about">About</a>
            <a class="btn badge-pill" href="/portfolio">Portfolio</a>
            <a class="btn badge-pill" href="/contact">Contact</a>
        </nav>
        <hr>

        <div id="contact-main">
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">

                <label for="email">Email</label>
                <input type="text" id="email" name="email">

                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone">

                <label for="message">Message</label>
                <input type="text" id="message" name="message">
            </form>
        </div>


    </div>
</body>

<!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="/functions.js"></script> -->

</html>